body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #4d4848;
    color: white;
    user-select: none;
}

.main{
    display: flex;
    gap: 200px;
}

.left h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.bow-image {
    width: 350px;
    height: auto;
}

.hairclip-upgrade {
    width: 50px;
    height: auto;
}

.clicker-upgrade {
    width: 65px;
    height: auto;
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;         /*note, justify content can do the even space thingy we like*/
    width: 350px;
    height: 60px;
    border: 5px solid hotpink;
    padding: 10px 20px;
    border-radius: 15px;
    position: relative;
    margin: 5px;
}

.upgrade:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.02);
}

.upgrade:active {
    opacity: 0.8;
    transform: scale(1.02);
}

.bow-image:hover {
    opacity: 0.9;
    cursor: pointer;
}

.bow-image:active {
    opacity: 0.8;
    transform:  scale(1.02);
}

.bow-img {
    width: 20px;
    height: 20px;    
}

.cost-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mid-section p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.next-level-info {
    position: absolute;
    right: -110px;
    background-color: grey;
    border-radius: 15px;
    height: 80px;
    width: 100px;
    text-align: center;
    display: none;
}

.upgrade:hover .next-level-info {
    display: block;
}